@import url('https://fonts.cdnfonts.com/css/common-pixel');
.menu{
	position: absolute;
	top: 5px;
	left: 430px;
}
 nav {
	margin: 27px auto 0;
	position: relative;
	width: 690px;
	top: 650px;
	height: 50px;
	background-color: #ffffff;
	border-radius: 8px;
	font-size: 0;
	animation: bounceInUp 5s;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-family: 'Common Pixel', sans-serif;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: rgb(9, 62, 175);
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 100px;
}
a:nth-child(5) {
	width: 120px;
}
a:nth-child(6) {
	width: 160px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #e6e214;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e6e214;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #e6e214;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 100px;
	left: 310px;
	background-color: #e6e214;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 100px;
	left: 420px;
	background-color: #e6e214;
}
nav .start-contact, a:nth-child(6):hover~.animation {
	width: 162px;
	left: 528px;
	background-color: #e6e214;
}
body {
	font-size: 12px;
	font-family: sans-serif;
	overflow: hidden;
}


span {
    color: #2BD6B4;
}